<div class="method-path" *ngIf="traversedMethods">
  <div *ngFor="let path of traversedMethods; let pathIndex = index">
    <span *ngFor="let segment of path.route; let isLast=last; let segmentIndex = index">
      <span (click)="toggleCodeView(segment.classOrInterface, pathIndex, segmentIndex)">
        {{ segment.classOrInterface }}
      </span>
      <span *ngIf="!isLast"> <- </span>
      <div *ngIf="displayCodeForRoute.get(segment.classOrInterface + '-' + pathIndex + '-' + segmentIndex)">
        <p class="path">Se encuentra en: {{ segment.path }}</p>
        <pre class="code">
          <code *ngFor="let line of segment.code.split('\n'); let lineNumber = index"
                [ngClass]="{'highlight': isHighlighted(line, segment.methodName)}">

                {{ line }}
          </code>
        </pre>
      </div>
    </span>
  </div>
</div>
